html{
    font-size: 16px;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;

    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: url("bg.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

h1{
    color: goldenrod;
    font-size: 4rem;
}

p{
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

#message-el{
    font-style: italic;
}

button{
    color: #016f32;
    background-color: goldenrod;
    width: 10em;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    font-size: 2rem;
    padding: .3em;
    display: block;
    margin: 8px auto;
}